@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --cyan: hsl(179, 62%, 43%);
  --bright-yellow: hsl(71, 73%, 54%);

  --light-gray: hsl(204, 43%, 93%);
  --grayish-blue: hsl(218, 22%, 67%);
  --grayish-blue: hsl(201, 37%, 71%);
}

.flex {
  display: flex;
}

body {
  font-family: "Karla", sans-serif;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--light-gray);
}

main {
  width: 750px;
  box-shadow: -1px 1px 20px -2px rgba(252,252,252,0.97);
}

.sub__component,
.about__component {
  width: 50%;
  padding: 40px 40px;
}

.header__component h1 {
  color: var(--cyan);
  font-size: 25px;
  margin-bottom: 25px;
}

.header__component h2 {
  color: var(--bright-yellow);
  font-size: 20px;
  margin-bottom: 10px;
}

.header__component {
  padding: 40px;
  background-color: white;
}

.header__component p {
  color: var(--grayish-blue);
  line-height: 30px;
}

.sub__component h2 {
  color: #fff;
  margin-bottom: 20px;
  font-size: 20px;
}

.sub__component {
  background-color: var(--cyan);
  padding: 40px;
}

.sub__component h3 span {
  font-size: 35px;
  color: white;
  margin-right: 10px;
}

.sub__component h3 {
  color: var(--light-gray);
  margin-bottom: 5px;
}

.sub__component p {
  color: var(--light-gray);
  margin-bottom: 16px;
}

.sub__component button {
  width: 100%;
  padding: 20px 0;
  border-radius: 10px;
  border: none;
  color: white;
  background-color: var(--bright-yellow);
  font-size: 17px;
  font-family: Karla;
  font-weight: 700;
}

.about__component h2 {
  color: #fff;
  margin-bottom: 20px;
  font-size: 20px;
}

.about__component {
  background-color: #49bebd;
}

.about__component p {
  line-height: 27px;
}

/* mobile view */
@media (max-width: 400px) {
  .fact__component {
    flex-direction: column;
  }

  .sub__component,
  .about__component {
    width: 100%;
  }

  main {
    margin: 20px;
  }

  body {
    height: auto;
  }

  .header__component,
  .sub__component,
  .about__component {
    padding: 40px 20px;
  }
}
